p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p.flushright {
  text-align: right;
}

.tlverse {
  background-image: url("img/logos/tlverse-logo.png");
}

blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

.book .book-body .navigation {
    color: #ccc;
}

